/* Autocomplete Start */

.autocomplete-wrapper {
  width: 100%;
  position: relative;
  display: inline-block;

}


.autocomplete-wrapper>div {
  width: 100%;
}

.autocomplete-wrapper input {
  border: 1px solid #cecece;
  background-color: #f9f9f9;
  padding: 4px 4px;
  font-size: 10px;
  width: 100%;
  border-radius: 4px;
  position: relative;

}
.autocomplete-wrapper input:focus {
  border-color: lightgray;
  box-shadow: none;
  outline: none;
}

.autocomplete-wrapper .dropdown {
  width: 550px;
  padding: 0;
  text-align: left;
  max-height: 280px;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid lightgray;
  border-top: none;
}

.autocomplete-wrapper .item {
  display: block;
  cursor: pointer;
  font-size: 11px;
  padding: 3px;
}

.autocomplete-wrapper .item.selected-item {
  background-color: #BAD9FB;
  color: black;
}

.autocomplete-wrapper .item:hover {
  background-color: #BAD9FB;
  color: black;
}

/* Autocomplete End */

/* Apply Button Start */
.aply {
  border-radius: 4px;
  border: none;
  background-color: #0095e8;
  color: white;
  padding: 3px 4px;
}
/* Apply Button End */
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: black;
  font-size: 16px;
  pointer-events: none;
  transition: .6s;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 20px 0 0;
  font-size: 15px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -10px;
  left: 0;
  color: black;
  font-size: 12px;
}

/* Custom Input Start */

.css-1fdsijx-ValueContainer {
  padding: 0 ! important;
  margin: 0 ! important;
}

.form-control {
  padding: 3px 8px ! important;
}

.form-control-sm {
  min-height: 31px ! important;
  font-size: 15px ! important;
}

/* .form-label{
  margin: 0;
} */
/* .css-1d2aiu8-control{
  min-height: 10px!important;
} */
/* .css-15lsz6c-indicatorContainer:hover{
  padding: 0 8px !important;
} */
.css-15lsz6c-indicatorContainer {
  padding: 0 8px !important;
}

.css-1xc3v61-indicatorContainer {
  padding: 0 8px !important;
}

.form-control:focus {
  outline-color: blue;
  border: none;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

/* Custom Input End */

/* Action Button start */

.action {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.action1 {
  display: flex;
  justify-content: start;
  gap: 10px;
}

/* Action Button End */

/* Profile View Start */

.profile {
  margin: 5px 0 0;
}

#photo-upload {
  display: none;
}

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  background-color: darkgrey;
  /* margin-bottom: 25px; */
}

.img1-wrap {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.img1-upload:before {
  content: "\f093";
  font-size: 70px;
  position: absolute;
  padding-top: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;

}

.img1-upload:hover:before {
  opacity: 0.2;
}

.img1 {
  width: auto;
  height: 100%;
}

/* Profile View End */

.date_select {
  display: flex;
  justify-content: end;
  gap: 20px;
}

#calendar .event {

  font-size: 13px;
  border-radius: 4px;
  padding: 2px;
  margin-bottom: 5px;
  line-height: 14px;

  color: #ffff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

#calendar .event-desc {
  color: #ffff;
  text-align: center;
  margin: 3px 0 7px 0;
  text-decoration: none;
}

.picker {
  display: flex;
  justify-content: "";
  gap: 10px;
  align-items: center;
  text-align: center;
  padding: 0 1rem;

}

table.fied {
  table-layout: fixed;
  width: 300%;
  height: 150px;
  word-break: break-all;
}

/* .btn-toolbar {
  justify-content: unset;
  display: unset;
  flex-wrap: unset;
} */

 /* Custom Button Icon Start */

.btn.btn-icon.btn-sm {
  height: 20px;
  width: 20px;
}

 /* Custom Button Icon End */

/* .Fields {
  padding: 5px 6px;
}

.Fields-label {
  position: relative;
  width: 170px;
}


.Bank-Label {
  position: relative;
  width: 170px;
}

.Bank-Input {
  position: relative;
  width: 200px;
  border: none;
  cursor: default;
}

.Bank-Input:focus {
  outline: none;
}


.Organization-Label {
  position: relative;
  width: 170px;
}

.Organization-Input {
  position: relative;
  width: 200px;
  border: none;
  cursor: default;
}

.Organization-Input:focus {
  outline: none;
}


.About-Label {
  position: relative;
  width: 160px;
}

.About-Input {
  position: relative;
  width: 200px;
  border: none;
  cursor: default;
}

.About-Input:focus {
  outline: none;

} */

.form-check.form-check-inline {
  margin-right: 10px !important;
}

/* .vertical-line {
  border-left: 3px solid #C7C5CD;
  height: 170px;
  position: absolute;
  left: 597px;
} */

/* Horizontal line Start */

.horizontal {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.text-Address {
  padding: 0 10px;
}

.horizontal:before,
.horizontal:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #C7C7C7;
  opacity: .5;
  margin: auto;
}

/* Horizontal line End */

/* Custom Modal Start */

.modal-header {
  padding: 15px !important;
}

.modal {
  --bs-modal-width: 700px !important;
}

.modal-footer {
  padding: 15px !important;
}

/* Custom Modal End */

/* Leave Circle Bar start */
.CircularProgressbar-text {
  transform: translate(-25px, 8px);
}

.Slider {
  width: 18rem;
  margin: 0 0.7em;
}

.Slider-progress {
  width: 90px;
}

.carousel-inner {
  padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

/* Leave Circle Bar End */

/* Data grid Table Start */

.css-levciy-MuiTablePagination-displayedRows {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.css-pdct74-MuiTablePagination-selectLabel {
  margin: 0 !important;
}

/* Data grid Table End */

@media only screen and (max-width: 600px) {
  .autocomplete-wrapper .dropdown {

    width: 300px;
  }

  .profile {
    margin: unset;
  }

  .aply {
    width: 40%;
  }

  .action {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .action1 {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .Dat {
    width: 50%;
  }

  .Name {
    width: 80%;
  }

  .shortName {
    width: 50%;
  }

  .longName {
    width: 90%;
  }

  .Id {
    width: 55%;
  }

  .Code {
    width: 40%;
  }

  .Key {
    width: 50%;
  }

  .Type {
    width: 50%;
  }

  .Applicable {
    width: 50%;
  }

  .Payment {
    width: 40%
  }

  .Enhance {
    width: 40%;
  }

  .Status {
    width: 40%;
  }

  .PaymentStatus {
    width: 30%;
  }

  .Description {
    width: 70%;
  }

  .Nationality {
    width: 50%;
  }

  .Document {
    width: 50%;
  }

  .Holiday-Name {
    width: 80%;
  }

  .Holiday-Allowance {
    width: 80%;
  }

  .Form-Type {
    width: 70%;
  }

  .Months {
    width: 45%;
  }

  .years {
    width: 45%;
  }

  .Form-Id {
    width: 80%;
  }

  .Role-Id {
    width: 50%;
  }

  .Document-Type {
    width: 75%;
  }

  .Subdoucment-Type {
    width: 75%;
  }

  .Can-check {
    width: 50%;
  }

  .Check-size {
    margin: 10px 0
  }

  /* table.fied {
    table-layout: fixed;
    width: 990%;
    height: 150px;
    word-break: break-all;
  }

  .date_select {
    display: flex;
    justify-content: start;
    gap: 20px;
  } */

  .Pension-code {
    width: 50%;
  }

  .Emp-percentage {
    width: 55%
  }

  .From-year {
    width: 40%;
  }

  .To-year {
    width: 40%;
  }

  .Employeer {
    width: 40%;
  }

  .Salary-type {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {

  .autocomplete-wrapper .dropdown {
    width: 275px;
  }

  /* table.fied {
    table-layout: fixed;
    width: 500%;
    height: 150px;
    word-break: break-all;
  } */

  .Slider {
    width: 700px;
    margin: 0 0.8em;
  }
}


@media only screen and (min-width: 1200px) {
  .autocomplete-wrapper .dropdown {
    width: 500px;
  }

  /* table.fied {
    table-layout: fixed;
    width: 300%;
    height: 150px;
    word-break: break-all;
  } */
}